/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.dojang-group-table, .dojang-games-to-approve{
  border-collapse: collapse;
}
 .dojang-group-table tbody td{
  border: 1px black solid;
  min-width: 30px;
  padding: 3px;
}
.dojang-group-table thead th{
  border: 1px black solid;
  min-width: 30px;
  background: lightgray;
  padding: 3px;
}
/*Result Table Cell Styles*/
.dojang-result-not-approved{
  background: yellow;
}
.dojang-result-own{
  background: gray;
}
.dojang-result-highlight {
  background: #00b9eb !important;
  animation:highlight-pulse-animation 2s;
  -moz-animation:highlight-pulse-animation 2s infinite; /* Firefox */
  -webkit-animation:highlight-pulse-animation 2s infinite; /* Safari and Chrome */
}
.dojang-cell-updated{
  animation:update-pulse-animation 2s;
  -moz-animation:update-pulse-animation 2s; /* Firefox */
  -webkit-animation:update-pulse-animation 2s; /* Safari and Chrome */

}
.dojang-editable-cell{
  background: #d5d5d5;
}
.dojang-editable-cell div{
  width:100%;
  height:100%;
}
a.dojang-anchor{
  display: block;
  position: relative;
  /*TODO: set this to proper value by hand later*/
  top: -250px;
  visibility: hidden;
}
/*Animations*/
@-moz-keyframes highlight-pulse-animation /* Firefox */
{
0%   {background: yellow;}
50%  {background: #00b9eb;}
100% {background: yellow;}
}

@-webkit-keyframes highlight-pulse-animation /* Safari and Chrome */
{
0%   {background: yellow;}
50%  {background: #00b9eb;}
100% {background: yellow;}
}

@-moz-keyframes update-pulse-animation /* Firefox */
{
0%   {background: chartreuse;}
50%  {background: green;}
100% {background: lightgray;}
}

@-webkit-keyframes update-pulse-animation /* Safari and Chrome */
{
0%   {background: chartreuse;}
50%  {background: green;}
100% {background: lightgray;}
}

/*Games to Approve Table*/
.dojang-games-to-approve tbody td{
  border: 1px black solid;
  min-width: 30px;
  padding: 3px;
}
.dojang-games-to-approve thead th{
  border: 1px black solid;
  min-width: 30px;
  background: lightgray;
  padding: 3px;
}
.dojang-result-to-approve-winner {
  font-weight: bold;
}
/*Results table place highlight*/
.dojang-place-1 {
  background: #ffd700;
}

.dojang-place-2 {
  background: #c0c0c0;
}

.dojang-place-3 {
  background: #cd7f32;
}
